@keyframes show {

    0% {
        opacity: 0;
    }
    50%{
    }
    100% {
        opacity: 1;
        transform: scale(1.5)
    }
}

@keyframes move-time {
    0% {
        transform: scale(1);
    }
    50%{
        opacity: 1;
        transform: scale(1.2);
        gap: 20px
    }
    75%{
        opacity: 1;
        transform: scale(1.2);
    }
    100% {
        opacity: 0;
        transform: scale(0);
    }
}

@keyframes disappear {
    from{
        transform: scale(1);
    }
    to {
        opacity: 0;
        transform: scale(0);
    }
}